src
scripts
asset/*
!asset/logo.png
.vscode
.claude
node_modules
out
.gitignore
tsconfig.json
tsconfig.build.json
tsconfig.build-ci.json
tsconfig.build.tsbuildinfo
rust-core/target
rust-core/src
rust-core/Cargo.lock
rust-core/Cargo.toml
rust-core/build.rs
rust-core/.gitignore
*.vsix
